:root {
  --nav-height: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0; 
  background-color: rgb(238, 238, 238);
}

/* HEADER */
.main-header {
  background-image: url('../images/header.jpeg');
  background-size: cover;
}
.main-nav {
  text-align: center;
  border-bottom: 2px solid rgba(255,255,255,.25);
  padding: var(--nav-height);
}
.main-nav li {
  padding: 0 1%;
}
.nav ul {
  margin: 0;
}
.nav li {
  display: inline;
}
.nav a {
  color: white;
  font-weight: lighter;
  padding: var(--nav-height);
  text-decoration: none;
  text-transform: uppercase;
}
.nav a:hover {
  background-color: tan;
  color: black;
}
.heading-lg {
  color: white;
  margin: 0;
  padding: 1em 0;
  font-family: 'Fredoka One', cursive;
  font-size: 4em;
  text-align: center; 
}